extends layout

block content

  h1 Horray! You're getting a kitten!

  div(style ='margin-top:20px;')
   h4 #[strong Prep your house]
    p Kittens love to play with everything, that is why it's so important to kitty prep your house. Organize computer cables, dont leave small things that a  kiteen would easily swallow lying around. Things that might fall and break, because a kitten will climb everywhere it can. 
    p Medications of all kinds are always at the top of the list of things that kill pets. Never give a kitten any medication without checking with your veterinarian first, and be extra careful top pick up any pills you drop.
   h4 #[strong create a safe environment] 
    p Before bringing your kitten home, youll want to set up a room for your kitten. Set up the kitten's room with a bed, scratching post, litter box, food and water dishes, and toys. Put the kitten in the room and let her explore a bit while you are still with her. Then leave her alone for a short time so she can become comfortable in the new surroundings. 
    p At first, the kitten may hide. Try to coax her out to comfort her. Don't try to push too fast, though. She will gradually get used to you. New kittens are won over with food, but don’t give her too many treats! Make sure to #[a(href='/catalog/vet') visit your vet] with the kitten before allowing her to #[a(href='/catalog/pets') meet your other pets]. Be sure to keep a separate litter box, food and water bowls even after the introduction until you are sure the cats will share
   h4 #[strong things youll need]
   div(class='checkbox' style='margin-left:20px;')
     input(type='checkbox', name='litterbox', checked=false, 'litterbox')
     |  #[strong litterbox and litter] - Make sure the litterbox is big enough for the kitty to use comfortably and that it completely enlcoess the cat so it can feel safe and private.
     br
     input(type='checkbox', name='litterbox', checked=false, 'litterbox')
     | #[strong Food] -  Kittens #[a(href='/catalog/food') need more protein than adult cats]. For dry food, you'll want to get something that is #[a(href='http://www.aafco.org/Consumers') AAFCOO- approved].
     br
     input(type='checkbox', name='litterbox', checked=false, 'litterbox')
     | #[strong Collar] - Even if your cat is an indoor-cat you'll want to put a collar on him, just in case your little friend decides to exlore the outside world.
     br
     input(type='checkbox', name='litterbox', checked=false, 'litterbox')
     |  #[strong Bed] 
     br
     input(type='checkbox', name='litterbox', checked=false, 'litterbox')
     |  #[strong Carrier]
     br
     input(type='checkbox', name='litterbox', checked=false, 'litterbox')
     |  #[strong Food Bowls]
  
